.form {
    padding: 2rem;
    color: aliceblue;
    width: 50%;
    margin: 10rem auto;
}

.btn {
    background-color: #E75160;
    color: white;
    font-weight: bold;
}

.title {
    width: auto;
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: aliceblue;
    margin-bottom: 1.5rem;
}

.subTittle
 {
    width: auto;
    text-align: left;
    margin: 0 auto;
    display: block;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: aliceblue;
    margin-bottom: 1.5rem;
}




/* Checkboxs*/
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }
  
  .switch input {
    display: none;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #E75160;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #E75160;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  

  .checkbox {
    flex-wrap: wrap;
  }

.categories{
  width: 100%;
}

i{
  margin-right: 1rem;
  color:#E75160;
  font-size: 1.2rem;
}