<header class="header-area header-sticky">
  <div class="container-fluid px-5 mx-auto">
      <div class="row" class="container-fluid">
          <div class="col-12">
              <nav class="main-nav">
                  <!-- ***** Logo Start ***** -->
                  <a href="index.html" class="logo">
                      Game Jam <span style="color:#E75160;">+</span>
                  </a>
                  <!-- ***** Logo End ***** -->

                  <!-- ***** Menu Start ***** -->
                  <ul class="nav">
                      <li><a href="index.html" class="active">Home</a></li>
                      <li><a href="browse.html">Browse</a></li>
                      <li><a href="details.html">Details</a></li>
                      <li><a href="streams.html">Streams</a></li>
                      <li><a href="profile.html">Profile <img src="assets/images/profile-header.jpg" alt=""></a></li>
                  </ul>   
                  <a class='menu-trigger'>
                      <span>Menu</span>
                  </a>
                  <!-- ***** Menu End ***** -->
              </nav>
          </div>
      </div>
  </div>
</header>

<div class="container-fluid px-5">
  <router-outlet></router-outlet>
</div>

