<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/normalize.css">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Document</title>
</head>
<body >
    <div class="infoBox" style="background-color: transparent; flex-direction: row;">
        <a href="/login" style="background-color:#fff;padding: 2rem 5rem; border-radius:5px;font-family: 'Roboto', sans-serif;text-decoration: none;font-size:2.5rem; color:#2e2e2e">Login</a>
        <a href="/register"style="background-color:#fff;padding: 2rem 5rem; border-radius:5px;font-family: 'Roboto', sans-serif;text-decoration: none;font-size:2.5rem; color:#2e2e2e">Register</a>
    </div>
</body>
</html>