<div class="tables ">
    <label class="title">Admin Jams</label>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
            <th scope="col">Actions</th> <!-- Agregamos una nueva columna para los botones de acción -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
            <td class="actions ">
              <!-- Agregamos los botones de editar y eliminar dentro de la nueva columna -->
                <button type="button" class="btn btn-primary btn-sm btn-group-sm">Editar</button>
                <button type="button" class="btn btn-danger btn-sm btn-group-sm">Eliminar</button>
            </td>
          </tr>
          <!-- Agregamos más filas con botones de acción -->
        </tbody>
      </table>
      
</div>