<div class="form">

  <form (ngSubmit)="submitForm()" class="form">
    <label class="title"  style="margin-bottom: 20%" >Create <span style="color:#E75160">Site</span></label>

    <div class="form-group">
      <label for="country" class="subTittle">Country:</label>
      <input type="text" autocomplete="off" class="form-control" id="country" [(ngModel)]="site.country" name="country" required>
    </div>

    <div class="form-group">
      <label for="city" class="subTittle">City:</label>
      <input type="text" autocomplete="off" class="form-control" id="city" [(ngModel)]="site.city" name="city" required>
    </div>
    <button type="button" class="btn btn-primary btn-" (click)="addPerson()">Add Person</button>
    <div class="form-group">
      <label for="judges" class="subTittle">Judges:</label>
      <ul>
        <li *ngFor="let judge of site.judges">
          {{ judge.nombre }} {{judge.lastname }}
          <button type="button" class="btn btn-danger btn-sm" style="margin-left: 5%"  (click)="removeJudge(judge._id)">Remove</button>
        </li>
      </ul>
    </div>

    <div class="form-group">
      <label for="localOrganizers" class="subTittle">Local Organizers:</label>
      <ul>
        <li *ngFor="let localOrganizer of site.localOrganizers">
          {{ localOrganizer.nombre }} {{localOrganizer.lastname }}
          <button type="button" class="btn btn-danger btn-sm" style="margin-left: 5%"  (click)="removeLocalOrganizer(localOrganizer._id)">Remove</button>
      </ul>
    </div>

    <div class="form-group">
      <label for="mentors" class="subTittle">Mentors:</label>
      <ul>
        <li *ngFor="let mentor of site.mentors">
          {{ mentor.nombre }} {{mentor.lastname }}
          <button type="button" class="btn btn-danger btn-sm" style="margin-left: 5%"  (click)="removeMentor(mentor._id)">Remove</button>
        </li>
      </ul>
    </div>

    <button type="submit" class="btn btn-default" style="margin-left: 80%;">Submit</button>

  </form>
</div>

