<div class="tables">
    <label class="title">Admin Jam Role</label>
    <div class="input-group mb-3 searchButton">
      <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="searchText">
      <div class="input-group-append">
        <button class="btn btn-primary" type="button" (click)="searchUser()">Buscar</button>
      </div>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th style="width: 30%;" scope="col">Name</th>
          <th style="width: 30%;" scope="col">Email</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td>{{user.nombre}}</td>
          <td>{{user.email}}</td>
          <td class="actions">
            <button type="button" class="btn btn-warning btn-sm" (click)="asingRole(user._id, 'MENTOR')">Assign Mentor</button>
            <button type="button" class="btn btn-warning btn-sm" (click)="asingRole(user._id, 'JUDGE')">Assign Jugde</button>
            <button type="button" class="btn btn-warning btn-sm" (click)="asingRole(user._id, 'LOCALORGANIZER')">Assign LocalOrganizer</button>
            <!-- Agrega más filas con botones de acción aquí -->
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  